<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199365110321-jikpcrds02lvke4tdsjlilmsr97j7llm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199365110321-jikpcrds02lvke4tdsjlilmsr97j7llm</string>
	<key>API_KEY</key>
	<string>AIzaSyCQszNa2vDciOcm_8jXrXedjUpX8RG5lRc</string>
	<key>GCM_SENDER_ID</key>
	<string>199365110321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stuverseApp</string>
	<key>PROJECT_ID</key>
	<string>stuverse-app</string>
	<key>STORAGE_BUCKET</key>
	<string>stuverse-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199365110321:ios:9a4419e765d3a3301bc310</string>
</dict>
</plist>